<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script defer src="../javascripts/face-api.min.js"></script>
    <script type="module" defer src="../javascripts/script-checkin.js"></script>
    <style>
      body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      #video {
        background-color: rgb(26, 80, 80);
      }
      canvas {
        position: absolute;
      }
    </style>
  </head>
  <body>
    <section>CHECK IN</section>
    <video id="video" width="720" height="560" autoplay="true"></video>
    <section id="REC">
      <p><span id="recognizedInfo"></span></p>
      <button onclick="window.checkin()">YES</button>
      <button onclick="window.reset()">NO</button>
    </section>
  </body>
</html>
